@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: white;
  text-align: center;
}
.select {
  margin-top: 50px;
}
.btn {
  margin-top: 20px;
  padding: 20px;
}
.conversion {
  background: #ddd;
  min-height: 160px;
  min-width: 100%;
  display: inline-flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  font-size: 280%;
}

.messages {
  left: 0;
  bottom: 0;
  position: fixed;
  min-height: 20px;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  z-index:100;
  background: #3b5e8c;
  transition: opacity 2s easn-in;
}

.messages.on {
  opacity: 1;
}
